<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">

	<select resultType="osf.spring.dto.MemberDTO" id="mypage">select *from
		member where id=#{value}
	</select>

	<select id="cart" resultType="osf.spring.dto.CartDTO">
		select * from cart where parent_id = #{parent_id} order by c_seq desc
	</select>
	<delete id="deleteCart">
		delete cart where parent_id = #{parent_id} and c_seq
		= #{c_seq}
	</delete>
	<delete id="deleteAll">
		delete cart where parent_id = #{parent_id}
	</delete>

	<insert id="joinCount">insert into visit values(default)</insert>

	<!-- 영웅이형파트 -->
	<insert id="addmember">
		insert into member
		values(member_seq.nextval,#{id},#{pw},#{name},#{email},#{phone},#{zipcode},#{address1},#{address2},default,default,default,default)
	</insert>

	<insert id="locketwrite">
		insert into locketlist
		values(locketlist_seq.nextval,#{id},#{homename},#{takename},#{phone},#{zipcode},#{address1},#{address2})
	</insert>

	<select id="duplcheck" resultType="int">
		select count(*) from member
		where id=#{value}
	</select>

	<select id="login" resultType="int">
		select count(*) from member where
		id=#{id} and pw=#{pw}
	</select>

	<select id="emailcode" resultType="int">
		select count(*) from member
		where email=#{email}
	</select>

	<select id="findid" resultType="String">
		select id from member where
		name=#{name} and email=#{email}
	</select>

	<select id="findpw" resultType="String">
		select id from member where
		id=#{id} and email=#{email}
	</select>

	<select id="profilego" resultType="osf.spring.dto.MemberDTO">
		select * from member where
		id=#{id}
	</select>

	<update id="updatePw">
		update member set pw=#{pw} where id=#{id}
	</update>


	<update id="memberupdate">
		update member set phone=#{phone}, zipcode=#{zipcode},
		address1=#{address1},
		address2=#{address2}, email=#{email}
		where
		id=#{id} and name=#{name}
	</update>

	<select id="pwcheck" resultType="int">select count(*) from member
		where id=#{id} and pw=#{pw}
	</select>

	<delete id="leave">delete from member where id=#{value} </delete>

	<delete id="delete">
		delete locketlist where seq=${value}
	</delete>


	<select id="locketlist"
		resultType="osf.spring.dto.LocketListDTO">
		select * from (select locketlist.*,row_number() over(order
		by homename desc) rnum from locketlist where id=#{id}) where rnum between ${start}
		and ${end}
	</select>

	<select id="countArticle" resultType="int">
		select nvl(count(*),0) from
		locketlist
	</select>

	<select id="getUseMoney" resultType="int">select nvl(sum(amount),0) from order_bill where id=#{value}
	</select>

	<select id="orderList" resultType="osf.spring.dto.BuyListDTO">select * from buy_list where
		parent_id=#{value}</select>

	<select id="orderImg" resultType="String">select nvl(title_img,'이미지없음')
		from product where pseq=${value}</select>

	<select resultType="osf.spring.dto.LocketListDTO"
		id="selectAddressList">select *from locketlist where id=#{id}</select>

	<select id="getOseq" resultType="int">select oseq from buy_list where bseq=${value}</select>
	
	<select id="getUsePoint" resultType="int">select nvl(usepoint,0) from order_bill where oseq=${value}</select>
	
	<delete id="orderCancel">delete buy_list where bseq=${value}</delete>
	
	<delete id="billCancel">delete order_bill where oseq=${value}</delete>
	
	<select id="getYN" resultType="String">select send_money_YN from buy_list where bseq=${value}</select>
	
	<select id="buylistYN" resultType="int">select count(*) from buy_list where oseq=${value}</select>
	
	<select id="getOrderBill" resultType="osf.spring.dto.OrderBillDTO">select * from order_bill where oseq=${value}</select>

	<select id="getBuyList" resultType="osf.spring.dto.BuyListDTO">select * from buy_list where bseq=${value}</select>	

	<update id="minusBill">update order_bill set amount=amount-${price} where oseq=${oseq}</update>

	<update id="returnPoint">update member set point=point+${usePoint} where id=#{id}</update>
	
	<select id="myBuyList" resultType="String">select status from buy_list where parent_id=#{value}</select>
	
	<update id="onlyBuy">update buy_list set status='배송완료' where bseq=${value}</update>
	
	<update id="addPoint">update member set point=point+${point} where id=#{id}</update>

</mapper>