<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Product">
	<select id="product_nextval" resultType='int'>
		select
		product_seq.nextval from dual
	</select>
	<update id="productRegist">
		insert into product
		values(#{pseq},#{pname},#{price},'t',null,#{content},#{title_img},'N',sysdate)
	</update>
	<update id="imageRegist">
		insert into product_img
		values(#{product_seq},#{oriname},#{sysname})
	</update>
	<select id="productSelect"
		resultType="osf.spring.dto.ProductDTO">
		select *from product
	</select>
	<select id="productSelectByPseq"
		resultType="osf.spring.dto.ProductDTO">
		select *from product where pseq=#{value}
	</select>
	<select id="imageSelectByPseq"
		resultType="osf.spring.dto.ImageDTO">
		select *from product_img where product_seq=#{value}
	</select>
	<update id="cartAdd">
		insert into cart
		values(cart_seq.nextval,#{parent_id},#{pseq},#{title_img},#{pname},#{option1},#{option2},#{count_item},#{price})
	</update>
	<select id="optionSelect" resultType="osf.spring.dto.OptionDTO">
		select *from product_option
		where parent_seq=#{pseq}
	</select>
	<select id="colorSelect" resultType="osf.spring.dto.OptionDTO">
		select *from product_option
		where parent_seq=#{pseq} and color=#{color}
	</select>
	<insert id="buyList">insert into buy_list
		values(#{parent_id},#{pname},${price},#{psize},#{pcolor},${amount},#{recipient},${zipcode},#{address1},#{address2},#{phone},#{msg},default,${buy_num},sysdate,default,default)
	</insert>
	<insert id="review">
   	  insert into review values(review_seq.nextval,${pseq},#{img},#{title},#{content},#{writer},sysdate)
   </insert>
   <select id="reviewSelectByPseq" resultType="osf.spring.dto.ReviewDTO">
      select *from review where pseq=${value}
   </select>
</mapper>